.jumbotron
{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer
{
    padding: 10px 10px 10px 10px;
    background-color: yellow;
    margin-bottom: auto;
}

.card-hotel
{
    flex: 1 200px;

    margin-top: 10px;
}

.btn-reserve
{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon
{
    padding-left: 10px;
}

.tab-content
{
    padding-top: 10px;
}


/* .modal-backdrop, 
.modal-backdrop.fade.in{
opacity: 1;
filter: alpha(opacity=100);
background: #fff;
} */