.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 10px 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserve {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-left: 10px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
/* .modal-backdrop, 
.modal-backdrop.fade.in{
opacity: 1;
filter: alpha(opacity=100);
background: #fff;
} */
