@yellow: #fffa19;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron
{
    background-color:@yellow;
    color: black;
    .margenes(50px,0px)
}

footer
{
    padding: 10px 10px 10px 10px;
    background-color:@yellow;
    .margenes(10px,0px)

}

.card-hotel
{
    flex: 1 200px;

    .margenes(10px,0px)
}

.btn-reserve
{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon
{
    padding-left: 10px;
}

.tab-content
{
    .margenes(10px,0px)
}


/* .modal-backdrop, 
.modal-backdrop.fade.in{
opacity: 1;
filter: alpha(opacity=100);
background: #fff;
} */